<main id="main" class="main">

  <div class="container mx-auto">
    <div class="mx-auto" style="width: 50%;">
      <h1 class="mt-5 mb-3">Add Categories</h1>
      <form method="post" enctype="multipart/form-data" class="card p-3 bg-light w-50">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <button type="submit" class="btn btn-primary">Add Category</button>
      </form>
    </div>
  </div>
</main>