<main id="main" class="main">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ADD PRODUCT</h5>

      <!-- Multi Columns Form -->
      <form class="row g-3" action="/admin/addProducts" method="post" enctype="multipart/form-data">
        <div class="col-md-12">
          <label for="name" class="form-label">Product Title</label>
          <input type="text" class="form-control" id="name" name="name" maxlength="40" required>
        </div>

        <div class="col-md-12">
          <label for="description" class="form-label">Product Description</label>
          <textarea type="text" class="form-control" id="description" name="description"></textarea>
        </div>

        <div class="col-md-6">
          <label for="inputState" class="form-label">Category</label>
          <select id="inputState" class="form-select" onchange="selectCategory()">
            <option value="" selected>Choose Category</option>
            {{#each category}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
          <input type="hidden" name="categoryId" id="categoryId" value="">
        </div>

        <div class="col-md-6">
          <label for="stock" class="form-label">Stock</label>
          <input type="text" class="form-control" id="stock" name="stock" pattern="[0-9]*" required>
        </div>

        <div class="col-md-6">
          <label for="price" class="form-label">Price</label>
          <input type="text" class="form-control" id="price" name="price" pattern="[0-9]*" required>
        </div>

        <div class="col-md-6">
          <label for="discount" class="form-label">Discount Percentage</label>
          <input type="text" class="form-control" id="discount" name="discount" pattern="[0-9]*">
        </div>

        <div class="col-md-12">
          <label for="image" class="form-label">Product Images</label>
          <input type="file" class="form-control" id="image" name="productImage" multiple>
        </div>

        <div class="col-md-6">
          <label for="colors" class="form-label">Colors</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="color1" name="color" value="red">
            <label class="form-check-label" for="color1">Red</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="color2" name="color" value="blue">
            <label class="form-check-label" for="color2">Blue</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="color3" name="color" value="green">
            <label class="form-check-label" for="color3">Green</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="color4" name="color" value="white">
            <label class="form-check-label" for="color4">White</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="color5" name="color" value="black">
            <label class="form-check-label" for="color5">Black</label>
          </div>
        </div>

        <div class="col-md-6">
          <label for="sizes" class="form-label">Sizes</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="size1" name="size" value="S">
            <label class="form-check-label" for="size1">S</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="size2" name="size" value="M">
            <label class="form-check-label" for="size2">M</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="size3" name="size" value="L">
            <label class="form-check-label" for="size3">L</label>
          </div>
        </div>

        <div class="col-12">
          <p id="err" style="color: brown;"></p>
        </div>

        <div class="col-12">
          <button onclick="return validate()" type="submit" class="btn btn-primary">Add Product</button>
        </div>
      </form><!-- End Multi Columns Form -->

    </div>
  </div>

</main>





<script>
  function selectCategory() {
    var selectedCategory = document.getElementById("inputState").value;
    document.getElementById("categoryId").value = selectedCategory;
  }
</script>

<script>

  function validate(){
    alert('s')
      const name = document.getElementById("name").value.trim();
      const description = document.getElementById("description").value.trim();
      const category = document.getElementById("categoryId").value.trim();
      const price = document.getElementById("price").value.trim();
      const stock = document.getElementById("stock").value.trim();
      const discount = document.getElementById('discount').value.trim();

      if(name == '' || description == '' || category == '' || price == '' || stock == ''){
        alert('hi')
        document.getElementById('err').innerText = 'All fields are mandatory !';
        return false;
      } else {
        if(price <=0 || stock <0 || discount <0) {
          alert('jj')
          document.getElementById('err').innerText = 'Invalid entry';
          return false;
        } alert('hi')
        return true;
      }
  }


</script>