<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Edit Customer</h5>
                  <p class="text-center small">Edit customer details</p>
                </div>

                <form class="row g-3 needs-validation" method="post" action="/admin/customers/edit/{{customer._id}}"
                  novalidate>
                  <div class="col-12">
                    <label for="yourName" class="form-label">Customer Name</label>
                    <input type="text" name="name" class="form-control" id="yourName" value="{{customer.name}}"
                      required>
                  </div>

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">Phone Number</label>
                    <div class="input-group has-validation">
                      <input type="text" name="phone" class="form-control" id="yourUsername" value="{{customer.phone}}"
                        required>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourEmail" class="form-label">Your Email</label>
                    <input type="email" name="email" class="form-control" id="yourEmail" value="{{customer.email}}">
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Update</button>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->