<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img"
                    style="background-image: url('/img/logo/Screenshot 2023-04-02 082650.png'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                    {{!-- 000624 --}}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Reset Password</h3>
                    <form class="row login_form" action="/admin/resetPassword" method="post" id="contactForm">
                        <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder=""
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = ''" readonly
                                    value="{{phoneNumber}}">
                            </div>
                            <div class="col-md-12 form-group" style="text-align: left;">
                                <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter OTP"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter OTP'" required>
                                <input type="password" class="form-control" id="password" name="password" placeholder="New Password"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'New Password'" required>
                                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'" required>
                                    <span id="er"></span>
                                {{#if otpMsg}}
                                <span
                                    style="font-size: smaller; color:rgba(255, 0, 0, 0.921); margin-left: 0.5rem;">{{otpMsg}}</span>
                                {{/if}}
                            </div>

                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="button button-login w-100">Update</button>
                                <a id="resendOtp" onclick="return update()">Resend OTP</a>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


<script>
    function update() {
        let password = document.getElementById("password").value.trim();
        let confirm = document.getElementById("confirmpassword").value.trim();
        let otp = document.getElementById("otp").value.trim();

        if(password == '' || confirm == '' || otp == '') {
            document.getElementById('er').innerHTML = 'All fields are required..';
            return false;
        } else {
            return true;
        }
    }
</script>