

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/images2/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
                            Once upon a time, in a world where fashion trends were dictated by a select few, there was a little company called Trendly. Trendly was started by a group of passionate fashion enthusiasts who believed that everyone had the right to express themselves through their clothing and accessories. They wanted to challenge the status quo and create a space where people could explore their personal style without judgment.
                            With their motto, "time to change," the Trendly team set out to revolutionize the fashion industry. They traveled the world, sourcing unique pieces from up-and-coming designers and established fashion houses alike. They handpicked items that were not only stylish but also sustainable, ensuring that they were doing their part for the planet.
						</p>

						<p class="stext-113 cl6 p-b-26">
                            As word of their unique collection spread, Trendly began to grow rapidly. But they never lost sight of their core mission. They continued to inspire people to embrace their individuality and break free from the constraints of mainstream fashion. They created a community of like-minded individuals who celebrated diversity and encouraged one another to be their authentic selves.
                            Today, Trendly is a global fashion destination, loved by fashionistas and trendsetters around the world. But their dedication to their customers and the planet has never wavered. They continue to curate a collection that is both stylish and sustainable, and they remain committed to their mission of empowering people to express themselves through fashion.
                            So if you're looking for a shopping experience that's more than just buying clothes, look no further than Trendly. Join the movement, and let's change the world, one outfit at a time.
						</p>

						<p class="stext-113 cl6 p-b-26">
							Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="/images2/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
                            At Trendly, our mission is simple: to empower people to express themselves through fashion. We believe that what we wear is an extension of our personalities and that everyone has the right to create their own unique style. We are committed to providing a platform for people to explore their individuality without judgment or restriction.

                            We also recognize the impact that the fashion industry has on the environment, and we strive to be part of the solution, not the problem. That's why we are dedicated to offering sustainable and ethically made clothing, accessories, and footwear. We believe that fashion can be both stylish and responsible, and we're committed to proving it.

                            But our mission doesn't stop there. We believe that fashion has the power to bring people together and create positive change. That's why we're passionate about building a community of fashion lovers who share our values of inclusivity, diversity, and sustainability.

                            Join us on our mission to change the world, one outfit at a time. Let's embrace our individuality, protect the planet, and inspire others to do the same.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
							</p>

							<span class="stext-111 cl8">
								- Steve Job’s 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="/images2/about-02.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
